@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap");

/* styles/globals.css */
@font-face {
  font-family: "Italianno";
  src: url("/fonts/Italianno-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MSD";
  src: url("/fonts/MrsSaintDelafield-Regular.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "MS";
  src: url("/fonts/MontserratSubrayada-Regular.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: "OLD_STANDARD_TT";
  src: url("/fonts/OldStandardTT-Italic.ttf") format("truetype"),
    url("/fonts/OldStandardTT-Bold.ttf") format("truetype"),
    url("/fonts/OldStandardTT-Regular.ttf") format("truetype");
} */

/* @font-face {
  font-family: "Mitr";
  src: url("/fonts/Mitr-Regular.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "Pixelify";
  src: url("/fonts/PixelifySans-Bold.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MOD20";
  src: url("/fonts/MOD20.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d9d9d9;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d9d9d9;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "OLD_STANDARD_TT", serif;
  font-family: "Italianno", cursive;
  font-family: "Mitr", sans-serif;
  font-family: "Pixelify", sans-serif;
  font-family: "MOD20", serif;
  font-family: "MSD", cursive;
  font-family: "MS", sans-serif;
  font-family: Arial, Helvetica, sans-serif;
}
